<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 플레이어 정보 처리 SQL -->
<mapper namespace="test.dao.PlayerMapper">

<!-- 플레이어 추가 -->
<insert id = "createPlayer" parameterType = "player">
insert into record(ID, NAME)
values(
  rec_seq.nextval,
  #{name})
</insert>

<!-- win_count increment -->
<update id = "winIncre" parameterType = "player">
update record 
set WIN_COUNT = WIN_COUNT+1
where ID = #{id}
</update>
	
<!-- lose_count increment -->
<update id = "loseIncre" parameterType = "player">
update record 
set LOSE_COUNT = LOSE_COUNT+1
where ID = #{id}
</update>

<!-- total count increment -->
<update id = "totalIncre" parameterType = "player">
update record 
set TOTAL_COUNT = TOTAL_COUNT+1
where ID = #{id}
</update>

<!-- print Player names -->
<select id = "printName" resultType = "player">
select NAME from record
order by ID
</select>

<!-- 테이블 수정해서 win_rate만 출력하게끔 -->

<!-- print all info -->
<select id = "listAll" resultType = "player">
select ID,NAME,WIN_COUNT,LOSE_COUNT,TOTAL_COUNT from record
</select>


<!-- select by name -->
<select id = "selectByName" parameterType = "string" resultType = "player">
select ID,NAME,WIN_COUNT,LOSE_COUNT,TOTAL_COUNT from record 
where NAME = #{name}
</select>

<!-- delete player info -->
<delete id = "deletePlayer" parameterType = "int">
DELETE FROM record
WHERE ID = #{id}
</delete>

</mapper>